body  
{  
 
        background-image: url('pic/srec.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: 100% 100%;
        
 
}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: orange;  
        border-radius: 15px ; 
        border-color: #0e0e0f;
          
}  
h2{  
    text-align: center;  
    color: #111111;  
    padding: 20px;  
}  
label{  
    color: #0e0e0f;  
    font-size: 17px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;
    background-color: white;
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: rgb(19, 19, 19);  
  
  
}  
span{  
    color: rgb(0, 0, 0);  
    font-size: 17px;  
}  
a{  
    float: right;  
    background-color: rgb(255, 255, 255);  

   
}
#loginh
{
    float: left;
}